.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: cornflowerblue;
  height: 100vh;
}

.joke-wrapper {
  padding-top: 4%;
  height: 60%;
  width: 50%;
  background-color: white;
  border: 5px solid gold;
}

h1 {
  font-size: 35px;
  font-weight: 800;
  color: gold;
}

.joke-div {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.question {
  margin-bottom: 4rem;
}

.answer {
  height: 20px;
  margin-bottom: 5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
